a:link{
    text-decoration: none;
}

/*
Utilizado no index
*/

.img-fluid{   /*Usado para o carousel*/
    width: 1500px;
    height: 550px !important;
}

/*Usando nos cards que estão a abaixo do carousel*/
#cards {
    display: flex;
    margin-top: 2em;
    padding-left: 0px;
    padding-right: 12px;
}

#all-cards {
    width: 100%
}

.card {
    width: 300px;
    display: flex;
    margin-bottom: 1rem;
}

/*Texto abaixo do cards*/
#Texto-motiva p{
    padding-right: 70px;
    padding-left: 70px;
    text-align: justify;
    margin-top: 30px;
}


/*o roda-pe do site*/
footer{
    background: #000;
    padding: 30px 0;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #475467;
}


.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    padding: 16px 24px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    #Texto-motiva p{
        padding-right: 40px;
        padding-left: 40px;
        text-align: justify;
        margin-top: 30px;
    }
}

@media screen and (max-width: 646px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 48px 32px;

    }
}


#footer_contacts h1 {
    margin-bottom: 11px;
}

#footer_social_media {
    display: flex;
    gap: 32px;
    margin-top: 24px;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 20px;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.footer-list p{
    margin-top: 3px;
    margin-left: 3px;
}

.footer-list .footer-link {
    color: #475467;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
    #myCarousel {
        display: none;
    }

    .footer {
        padding: 50px 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .navbar-expand-lg .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        margin-right: 80px;
    }
    .footer {
        padding: 100px 0;
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 1340px){
.footer {
    padding: 80px 0;
    font-size: 16px;
    line-height: 28px;
    }
}



/*
    Login
*/
#Login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Login h2{
    font-size: 33px;
    text-align: center;
}

#Cadastro{
    display: flex;
    justify-content: center;
}

#Cadastro h2{
    font-size: 33px;
    text-align: center;
}

.btnEntrar{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.btn{
    font-size: 1rem;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 1.2rem;
    color: #f0efef !important;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15)!important;
    background: #2934ce !important;

}
.EsqueciSenha p{
    color: #353434;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: underline black;
    text-decoration-color: #353434;
    -webkit-text-stroke-width: medium;
}

.Register p{
    color: #353434;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: underline black;
    text-decoration-color: #353434;
    -webkit-text-stroke-width: medium;
}
.inputGroup {
    margin: 1em 0 1em 0;
    width: 20rem !important;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

   .followers {
    font-size: 0.8rem;
    color: #7f7f7f;
   }
   
   button:hover {
    background: #2b2a2a;
   }

  