#cards {
    display: flex;
    margin-top: 2em;
    padding-left: 0px;
    padding-right: 12px;
}

#all-cards {
    width: 100%
}

.card {
    width: 300px;
    display: flex;
    margin-bottom: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
    #myCarousel {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
    .navbar-expand-lg .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        margin-right: 80px;
    }
}
