a:link{
    text-decoration: none;
}

#cards {
    display: flex;
    margin-top: 2em;
    padding-left: 0px;
    padding-right: 12px;
}

#all-cards {
    width: 100%
}

.card {
    width: 300px;
    display: flex;
    margin-bottom: 1rem;
}


#Texto-motiva p{
    padding-right: 70px;
    padding-left: 70px;
    text-align: justify;
    margin-top: 30px;
}


footer{
    background: #000;
    padding: 30px 0;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #475467;
}


.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    padding: 16px 24px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    #Texto-motiva p{
        padding-right: 40px;
        padding-left: 40px;
        text-align: justify;
        margin-top: 30px;
    }
}

@media screen and (max-width: 646px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 48px 32px;

    }
}


#footer_contacts h1 {
    margin-bottom: 11px;
}

#footer_social_media {
    display: flex;
    gap: 32px;
    margin-top: 24px;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 20px;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.footer-list p{
    margin-top: 3px;
    margin-left: 3px;
}

.footer-list .footer-link {
    color: #475467;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
    #myCarousel {
        display: none;
    }

    .footer {
        padding: 50px 0;
    }


}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .navbar-expand-lg .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        margin-right: 80px;
    }
    .footer {
        padding: 100px 0;
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 1340px){
.footer {
    padding: 80px 0;
    font-size: 16px;
    line-height: 28px;
    }
}
